#section-1,
#section-2,
#section-3 {
    max-width: 1440px;
    max-height: 100vh;
    margin: 0 auto;
    background: #F9F9F9;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 97%;
    margin-top: 46px;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
    flex-basis: 50%;
}

.logo {
    max-width: 53px;
    max-height: 53px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-basis: 70%;
}

.menu-link > a {
    color: #606060;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.743px; 
    text-transform: uppercase;
    text-decoration: none;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    width: fit-content;
    max-height: 57px;
    background: #EDEDED;
    border-radius: 10px;
    flex-wrap: nowrap;
    width: 70%;
}
  
.search-icon {
    max-width: 21px;
    max-height: 21px;
    margin: 8%;
}
  
.search-field {
    display: flex;
    height: 18px;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border: none;
    background: #EDEDED;
    margin: auto;
    width: 70%;
}
  
.button {
    justify-content: flex-end;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    text-transform: uppercase;
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: #141416;
    margin-left: 30px;
    white-space: nowrap;
}

.button:hover {
    cursor: pointer;
}

.first-page {
    display: flex;
    flex-direction: row;
    margin: 4% 0 0 4%;
}

.discover-NFT {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.discover-NFT > h1 {
    color: #141416;
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: -3px;
    text-transform: capitalize;
    width: 567px;
}

.discover-NFT > p {
    max-width: 499px;
    color: #676767;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-explore, 
.button-create:hover,
.button-arrow-right,
.button-arrow-left {
    cursor: pointer;
}

.button-explore {
    margin-right: 23px;
    height: 60px;
    border-radius: 12.5px;
    border: 1.5px solid #000;
    background: #000;
    color: #FFF;
    font-family: Poppins;
    font-size: 16.271px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    width: 179px;
}

.button-create {
    width: 138px;
    height: 60px;
    border-radius: 12.5px;
    border: 1.5px solid #000;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.stat-info {
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.stat > h3 {
    color: #141416;
    text-align: center;
    font-family: PublicSans;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
}

.stat > p {
    color: #848586;
    text-align: left;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    justify-content: flex-start;
}

.welcome-imgs {
    width: 100%;
    height: 553px;
    display: flex;
    justify-content: start;
    align-items: end;
}

.welcome-imgs {
    background: url(../img/welcome-img-1.svg) top left/ 57% no-repeat,
    url(../img/welcome-img-2.svg) bottom 60px right / 39% no-repeat,
    url(../img/dot-ornament.svg) top right -14px / 17% no-repeat,
    url(../img/arrow.svg) top 50px right 139px / 19% no-repeat;
}

.box-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 69px;
    border-radius: 17px;
    background: var(--neutrals-8, #FCFCFD);
    box-shadow: 0px 43px 34.5px 1px rgba(15, 15, 15, 0.12);
    margin: 0 0 7% 15%;
}

.nav-arrow {
    display: flex;
    flex-direction: row;
    height: 26px;
    width: 123px;
}

.button-arrow-left {
    justify-content: left;
    width: 26px;
    height: 26px;
    background-image:url(../img/arrow-left.svg);
    border: none;
    background-color: #FCFCFD;
    background-repeat: no-repeat;
}

.frame {
    width: 2px;
    height: 26px;
    padding-left: 34.5px;
    padding-right: 34.5px;
}

.button-arrow-right {
    justify-content: right;
    width: 26px;
    height: 26px;
    background-image: url(../img/arrow-right.svg);
    border: none;
    background-color: #FCFCFD;
    background-repeat: no-repeat;
}

#section-2 {
    height: 100vh;
    max-width: 1440px;
    background: #F1F1F1;
    margin-top: 143px;
}

.header-weekly {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    color: #C5C5C5;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.916px;
}

.second-page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.trend-NFTs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    margin-top: 100px;
}

.nft-card {
    height: 402px;
    width: 281px;
    border-radius: 23.5px;
    background: var(--others-white, #FFF);
    box-shadow: 39px 12px 59px 0px rgba(199, 199, 199, 0.60);
}

.sg-nft-1,
.sg-nft-2,
.sg-nft-3,
.ne-nft-1,
.ne-nft-2 {
    display: flex;
    width: 260px;
    height: 263px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    justify-content: flex-end;
    align-items: flex-start;
}

.sg-nft-1 {
    background-image: url(../img/1-nft.svg);
}

.sg-nft-2 {
    background-image: url(../img/2-nft.svg);
}

.sg-nft-3 {
    background-image: url(../img/3-nft.svg);
}

.ne-nft-1 {
    background-image: url(../img/4-nft.svg);
}

.ne-nft-2 {
    background-image: url(../img/5-nft.svg);
}

.time-bid {
    display: flex;
    width: 116px;
    height: 38px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 9px;
    border: 1px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 5px 14px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2px);
    margin-top: 14px;
    margin-right: 10px;
}

.time-bid > p {
    color: var(--others-white, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.nft-card > h3 {
    color: #141416;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-left: 18px;
}

.bid-box > p {
    color: #94A3B8;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.bid-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-left: 18px;
    height: 52px;
}

.bid {
    display: flex;
    flex-direction: row;
}

.bid > p {
    color: #141416;   
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%
}

.arrow-icon {
    height: 21px;
    width: 21px;
}

.place-bid {
    display: flex;
    height: 52px;
    padding: 9px 19px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 12px;
    background: #141416;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    margin-right: 19px;
}

.description-card {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    flex: 1;
    justify-content: space-between;
}

.trend-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 69px;
    border-radius: 17px;
    background: var(--neutrals-8, #FCFCFD);
    box-shadow: 0px 43px 34.5px -26px rgba(15, 15, 15, 0.12);
}

.navigator-NFT {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
}

.recent-viewed {
    width: 365px;
    height: 246px;
    border-radius: 16px;
    border: 1px solid var(--greyscale-200, #EDF2F7);
    background: var(--others-white, #FFF);
    box-shadow: 10px 10px 50px 0px rgba(20, 20, 22, 0.10);
    float: right;
    margin-left: 70%;
}

.recent-viewed > h3 {
    color: var(--greyscale-900, #1A202C);
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; 
    letter-spacing: 0.2px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 24px;
}

.item-collection {
    display: flex;
    width: 314px;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
}

.collector {
    display: flex;
    align-items: center;
    gap: 15px;
}

.NFT-icon-collect-1,
.NFT-icon-collect-2 {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-position: 77%;
    background-size: contain;
}

.NFT-icon-collect-1 {
    background-image: url(../img/1-nft.svg);
}

.NFT-icon-collect-2 {
    background-image: url(../img/5-nft.svg);
}

.collector-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.collector-name > h6 {
    color: #141416;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.collector-name > p {
    color: #64748B;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.collection-bid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
}

.collector-bid {
    display: flex;
    flex-direction: row;
}

.collector-bid > p {
    color: #141416;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}

.collection-bid > p {
    color: #10C352;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.active-link > a {
    font-weight: 600;
    color: rgba(20, 20, 22, 1);
}

.discover-page,
.stats-page {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

#Content-Discover {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.Discover-NFTs-header,
.EM-Header {
    display: flex;
    width: 496px;
    height: 136px;
    flex-direction: column;
    justify-content:  space-around;;
    align-items: center;
    margin: auto;
}

.Discover-NFTs-header > h1 {
    color: #141416;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}

.Options,
.EM-Filters {
    display: flex;
    width: 496px;
    height: 61px;
    flex-direction: row;
    justify-content: space-around;
}

.Category, 
.Collection,
.Price,
.All-Filter {
    display: inline-flex;
    padding: 18px;
    /* width: 154px; */
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 14px;
    border: 2px solid #141416;
   
}

.Category, 
.Collection,
.Price,
.All-Filter:hover {
    cursor: pointer;
}

.Category, 
.Collection,
.Price,
.All-Filter > p {
    color: var(--greyscale-900, #1A202C);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

.loading {
    width: 50px;
    height: 50px;
    margin: auto;
}

#Footer {
    background: #141416;
    display: flex;
    flex-direction: column;
    padding: 4%;
    justify-content: space-around;
}

.Footer-logo {
    display: flex;
    flex-direction: row;
    width: 198px;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.Footer-logo > p {
    color: #FFF;
    font-family: Poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.Footer-menu {
    display: inline-flex;
    align-items: center;
    gap: 70px;
}

.Footer-menu > p {
    color: #B9B9B9;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    text-transform: capitalize;
    white-space: nowrap;
}

.Footer-logo-menu,
.Footer-rights-social {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 3%; */
    margin-top: 30px;
    margin-bottom: 30px;
}

#Footer > span {
    height: 1px;
    opacity: 0.25;
    background: #818181;
    margin-bottom: 18px;
}

.Rights > p {
    color: #999;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.Social {
    display: flex;
    width: 234px;
    height: 21px;
    justify-content: space-around;
}

#Product-Detail-Page {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    gap: 130px;
    margin-bottom: 130px;
}

.Product-Detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 34.514px;
}

.Product-Detail > img {
    width: 36px;
    height: 36px;
}

.Product-Detail > h3 {
    color: var(--neutrals-2, #23262F);
    font-family: Poppins;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
}

.Detail {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #FAFAFA;
    box-shadow: 17px 17px 61px 0px rgba(0, 0, 0, 0.12);
}   

.Detail-inf {
    margin: 38px;
    display: flex;
    justify-content: space-around;
    gap: 137px;
}

.Detail-inf > img {
    display: flex;
    border-radius: 23px;
   width: 50%;
}

.Detail-Content {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    gap: 11%;
}

.Detail-Content-Header {
    display: flex;
    flex-direction: column;
}

.Detail-Content-Header > h1 {
    color: #292B39;
    font-family: Poppins;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    overflow: hidden;
}

.Detail-Content-Header > p {
    color: rgba(136, 136, 136, 0.70);
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    max-width: 400px;
    overflow: hidden;
}

.Detail-Content-Names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Detail-Content-Creator,
.Detail-Content-Owner,
.Detail-Content-Data {
    display: flex;
    flex-direction: row;
}

.Creator-Name > p,
.Owner-Name > p {
    color: #8D8D8D;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.Creator-Name > h4,
.Owner-Name > h4 {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}

.Detail-Content-Data {
    justify-content: space-between;
    flex-wrap: wrap;
}

.Data-Current-Bid > p {
    color: #8C8C8C;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.Data-Current-Bid-Act {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Data-Current-Bid-Act > p {
    color: #292B39;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Data-End-In {
    display: flex;
    flex-direction: column;
}

.Data-End-In > p {
    color:  #000;
    text-align: right;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}

.NFT-From-Creator {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.NFT-From-Creator > p {
    color: #C3C3C3;
    font-family: Poppins;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
}

.NFT-Collection-From-Creator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
}

#section-3 {
    height: 100vh;
    max-width: 1440px;
    margin-top: 15%;
}

#section-3 > h2 {
    color: #141416;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.Top-Collection {
    display: flex;
    flex-direction: column;
    padding: 95px;
    gap: 55px;
}

.Filter-Top-Collection {
    display: flex;
    width: 100%;
    height: 27px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Filter-TC-Collection {
    display: flex;
    justify-content: flex-start;
}

.Filter-TC > p,
.Filter-TC-Collection > p {
    color: #93989A;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}

.Filter-TC {
    display: flex;
    align-items: flex-start;
    gap: 92px;
}

.UPTC-Info {
    display: flex;
    align-items: flex-start;
    gap: 113px;
}

.UPTC-Name {
    display: flex;
    align-items: center;
    gap: 23px;
}

.User-Profile-Icon,
.User-Profile-Icon-2,
.User-Profile-Icon-Dura,
.User-Profile-Icon-Michal,
.User-Profile-Icon-Differy,
.User-Profile-Icon-Union {
    background-image: url(../img/1-nft.svg);
    box-shadow: inset 0px 0px 36px lightgray;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-position: 77%;
    background-size: cover;
}

.User-Profile-Icon-2 {
    background-image: url(../img/5-nft.svg);
}

.User-Profile-Info > h4 {
    color: #141416;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}

.User-Profile-Info > p {
    color: #64748B;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    word-wrap: none;
}

.User-Profile-TC {
    display: flex;
    width: 100%;
    /* height: 27px; */
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom-width:2px;
    border-bottom-color:#EBE9E9;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

.UPTC-Name-Vol {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.UPTC-Name-Floor-Price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.UPTC-Name-Vol > p {
    color: #141416;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.UPTC-Name-Floor-Price > p {
    color: #141416;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.UPTC-Info > p {
    color: var(--black-01, #010101);
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
}

#section-4 {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    max-width: 1440px;
    margin-top: 9%;
}

.EM-Trend-NFT {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.EM-Header > h2 {
    color: #141416;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.EM-Header {
    gap: 40px;
    margin-bottom: 130px;
}

.EM-Filters {
    width: 580px;
}

#section-4 > span  {
    width: 1248px;
    height: 0.7px;
    background: #CBCBCB;
    margin: 100px 100px 100px 100px;
}

#section-5,
#section-6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    padding: 4%;
    justify-content: space-between;
}

.just-unleash {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.header-ju > h1 {
    color: #C5C5C5;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.points {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.points > p {
    color: var(--Black, #12141D);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
}

.ju-poins {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.illustration-left {
    display: flex;
    position: relative;
    width: 642px;
    height: 613px;
}

.notification {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 20px;
    flex-direction: row;
    /* gap: 20px; */
    width: 325px;
    padding: 11px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 13.291px;
    background: linear-gradient(217deg, #FCFCFD -0.01%, rgba(252, 252, 253, 0.60) 100%);
    box-shadow: 0px 18.988px 28.482px 0px rgba(70, 70, 70, 0.10);
    backdrop-filter: blur(15.190183639526367px);
}  

.new-bid-notification > p {
    color: #949494;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
}

.best-sellers-ju {
    display: flex;
    position: absolute;
    top: 65px;
    right: 205px;
    width: 322px;
    z-index: 0;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 14px;
    border: 0.882px solid var(--greyscale-200, #EDF2F7);
    background: var(--others-white, #FFF);
    box-shadow: 8.825px 8.825px 44.123px 0px rgba(20, 20, 22, 0.10);
}

.best-sellers-ju > h4 {
    color: var(--greyscale-900, #1A202C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0.176px;
    padding-top: 15px;
    padding-left: 14px;
}

.best-seller-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.best-seller-name-info {
    display: flex;
    flex-direction: column;
}

.best-seller-name-info > h6 {
    color: var(--neutrals-2, #23262F);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.best-seller-name-info > p {
    color: var(--neutrals-4, #777E90);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.best-seller-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.follow-button {
    display: flex;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    border: 1.741px solid lightgray;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    background: white;
}

.recent-viewed-ju {
    position: absolute;
    bottom: -29px;
    left: -92px;
    width: 365px;
    height: 246px;
    border-radius: 16px;
    border: 1px solid var(--greyscale-200, #EDF2F7);
    background: var(--others-white, #FFF);
    box-shadow: 10px 10px 50px 0px rgba(20, 20, 22, 0.10);
}

.recent-viewed-ju > h3 {
    color: var(--greyscale-900, #1A202C);
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; 
    letter-spacing: 0.2px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 24px;
}

#section-6 {
    background-color: #000;
    border-radius: 30px;
    padding: 2%;
    margin: 6%;
}

.banner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 5%;
}

.banner-text > h1 {
    color: var(--white-01, #FFF);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.banner-text > p {
    color: #D4D4D4;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.banner-buttons {
    display: flex;
    flex-direction: row;
}

.banner-img {
    background-image: url(../img/2-nft.svg);
    border-radius: 15px;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit:fill;
    width: 369px;
    height: 249px;
    box-shadow: 0px 15px 60px lightgray;
}

.Content-sell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 137px;
    margin: 4%;
}

.sell-page,
.creators-page {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#Content-Sell > h1 {
    color: #141416;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    width: 366px;
    height: auto;
    align-items: center;
    margin: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 650px;
}

.input-name > p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.input-name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-name-sell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-radius: 11.526px;
    background: #EFEFEF;
    padding: 0 25px 0 25px;
}

.artwork-name {
    color: black;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    border: none;
    background: #EDEDED; 
}

.upload-img {
    background-image: url(../img/upload-field-2.svg);
    background-repeat: no-repeat;
    display: flex;
    width: 468px;
    height: 413px;
    padding: 81px 9px;
    justify-content: center;
    align-items: center;
    gap: -17px;
    background-position: center;
    border-radius: 30.744px;
    box-shadow: 0px 81.985px 81.985px -61.489px rgba(15, 15, 15, 0.10), 0px -81.98px 80px 0px rgba(0, 0, 0, 0.05);
}

.upload {
    width: 468px;
    height: 533px;
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.roy-size {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.sale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.put-on-sale {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.put-on-sale > h4 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.put-on-sale > p {
    color: #9596A6;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.Stats-NFTs-header {
    display: flex;
    width: 496px;
    height: 136px;
    flex-direction: column;
    justify-content:  space-around;;
    align-items: center;
    margin: auto;
}

.Stats-NFTs-header > h1 {
    color: #141416;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}

.head-stats-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.head-filters {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.filter-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filter-column > img {
    width: 20px;
    height: 20px;
}

.filter-column > p {
    color: #1A202C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.stats-content {
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 40px;
}

.User-Profile-Icon-Dura {
    background-image: url(../img/avatar-dura.svg);
}

.User-Profile-Icon-Michal {
    background-image: url(../img/5-nft.svg);
}

.User-Profile-Icon-Differy {
    background-image: url(../img/2-nft.svg);
}

.User-Profile-Icon-Union {
    background-image: url(../img/3-nft.svg);
}

.data-stats-info {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.content-creators > h1 {
    color: #141416;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    width: 558px;
    height: auto;
    align-items: center;
    margin: auto;
}

.content-creators {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.creators-profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    padding: 2%;
    justify-content: center;
}

.c-profile {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 537px;
    border-radius: 25px;
    background: #F2F2F2;
    box-shadow: 30px 15px 80px 0px rgba(191, 191, 191, 0.60);
    position: relative;
    gap: 3%;
}

.head-of-profile-Alex,
.head-of-profile-Zeno,
.head-of-profile-Leon {
    background-image: url(../img/1-nft.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 230px;
    border-radius: 25px 25px 0 0;
    box-shadow: inset 78px 0 75px lightgray;
}

.head-of-profile-Zeno {
    background-image: url(../img/head-of-profile-zeno.svg);
}

.head-of-profile-Leon {
    background-image: url(../img/head-of-profile-leon.svg);
}

.avatar-of-profile-Alex,
.avatar-of-profile-Zeno,
.avatar-of-profile-Leon {
    background-image: url(../img/ellipse-creator-alex.png);
    width: 125px;
    height: 125px;
    position: absolute;
    margin: auto;
    background-repeat: no-repeat;
    top: 160px;
    left: 122px;
}

.avatar-of-profile-Zeno {
    background-image: url(../img/avatar-of-profile-zeno.svg);
}

.avatar-of-profile-Leon {
    background-image: url(../img/avatar-of-profile-leon.svg);
}

.c-profile > h4 {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    margin: 50px auto 0 auto;
    display: flex;
    gap: 10px;
    height: auto;
    align-items: center;
}

.creator-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
}

.creator-data-stat {
    display: flex;
    flex-direction: column;
}

.creator-data-stat > h5 {
    color: #141416;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.creator-data-stat > p {
    color: var(--Gray-3, #828282);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.creator-nft-img-1,
.creator-nft-img-2,
.creator-nft-img-3,
.creator-nft-img-4,
.creator-nft-img-5,
.creator-nft-img-6 {
    width: 99px;
    height: 99px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.creator-nft-img-1 {
    background-image: url(../img/nft-creator-profile-1.svg);
}

.creator-nft-img-2 {
    background-image: url(../img/nft-creator-profile-2.svg);
}

.creator-nft-img-3,
.creator-nft-img-6 {
    background-image: url(../img/nft-creator-profile-3.svg);
    box-shadow: inset 0 0 100px rgba(16, 16, 16, 0.50);
}

.creator-nft-img-3,
.creator-nft-img-6,
.creator-nft-img-2 > p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.creator-nft-img-4 {
    background-image: url(../img/creator-nft-4.png);
}

.creator-nft-img-5 {
    background-image: url(../img/creator-nft-5.svg);
}

.creator-nft-img-6 {
    background-image: url(../img/creator-nft-6.png);
}

.creator-nft-img {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.blur-page {
    background: rgba(239, 239, 239, 0.25);
    filter: blur(15px);
    z-index: 0;
}

.history-of-bid-pd {
    z-index: 2;
    top: 407px;
    left: 500px;
    position: absolute;
    background-color: white;
    border-radius: 11px;
    padding: 44px 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.history-of-bid-pdv2 {
    background-color: white;
    border-radius: 11px;
    padding: 22px 19px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: 429px;
    margin-top: 47px;
    filter: drop-shadow(16.799px 16.799px 58.407px rgba(0, 0, 0, 0.12));
}

.history-of-bid-v2 {
    display: flex;
}

.content-history-of-bid-pd {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.content-history-of-bid-h > h4,
.your-bid-hob > h4 {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.content-history-of-bid-h > p {
    color: var(--70, #888);
    font-family: Poppins;
    font-size: 14.63px;
    font-style: normal;
    font-weight: 400;
}

.content-hob-pd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
    border-radius: 11px;
    background: var(--White, #FFF);
    box-shadow: -5.852px 11.704px 20.257px 0px rgba(16, 16, 16, 0.15);
}

.data-hob {
    display: flex;
    gap: 15px;
}

.avatar-01 {
    display: flex;
    background: url(../img/tick-icon.svg) top right / 20px no-repeat,
    url(../img/01-avatar-repo.svg) center / 63px no-repeat;
    width: 63px;
    height: 63px;
}

.avatar-02 {
    display: flex;
    background: url(../img/tick-icon.svg) top right / 20px no-repeat,
    url(../img/02-avatar-travo.svg) center / 63px no-repeat;
    width: 63px;
    height: 63px;
}

.avatar-03 {
    display: flex;
    background: url(../img/tick-icon.svg) top right / 20px no-repeat,
    url(../img/03-avatar-jennifer.svg) center / 63px no-repeat;
    width: 63px;
    height: 63px;
}

.name-hob > h5 {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.name-hob > p {
    color: #9C9C9C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.bid-data-hob {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.bid-data-hob > p {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.your-bid-field {
    display: flex;
    width: 396px;
    align-items: center;
    gap: 7px;
    border-radius: 18px;
    border: 1px solid black;
}

.bid-field-eth {
    display: flex;
    width: 23%;
    padding: 18px 23px;
    justify-content: center;
    align-items: center;
    gap: 23px;
    border-radius: 18px 0px 0px 18px;
    background: #141416;
}

.bid-field-eth > p {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.bid-submit {
    display: flex;
    width: 396px;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background: #141416;
    padding: 20px 23px;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    gap: 11px;
}

.your-bid-hob {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-collection-cover {
    border-radius: 22px;
    width: 105%;
    position: relative;
    height: 50%;
}

.profile-collection-content {
    display: flex;
    flex-direction: column;
}

.profile-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 4% 4% 4%;
}

.avatar-pc {
    position: absolute;
    bottom: -15px;
    left: 107px;
}

.profile-collection-info {
    display: flex;
    flex-direction: row;
    gap: 73px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.profile-collection-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 367px;
    margin: 30px 0 0 41px;
}

.header-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-pc-name > h2 {
    color: var(--black-01, #010101);
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
}

.header-pc-name > p {
    color: var(--grey-01, #93989A);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.stats-pc {
    display: flex;
    flex-direction: row;
    gap: 67px;
}

.stats-pc-info > h2 {
    color: #141416;
    text-align: center;
    font-family: PublicSans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap
}

.stats-pc-info > p {
    color: #848586;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
}

.stats-pc-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bio-pc {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: flex-start;
    gap: 12px;
}

.bio-pc > h4 {
    color: #C5C5C5;
    text-align: center;
    font-family: PublicSans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.bio-pc > p {
    color: #949494;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.profile-collection-col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filters-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-collection-pc > h3 {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-activity-pc > h3 {
    color: var(--light-50, #D2D2D2);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-collection-col > span {
    width: 336px;
    height: 3px;
    background: #141416;
    margin-left: 30px;
}

.nft-pc-group {
    display: flex;
    flex-direction: column;
}

.activity-content-pc {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.upper-activity {
    display: flex;
    justify-content: space-between;
}

.sales-upper-activity,
.all-chains-upper-activity {
    display: flex;
    width: 43%;
    padding: 17px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 19px 12px 66px 0px rgba(97, 97, 97, 0.25);
}

.sales-upper-activity > p,
.all-chains-upper-activity > p {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-activity {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: var(--White, #FFF);
    box-shadow: 18px 12px 64px 0px rgba(97, 97, 97, 0.25);
    padding: 3%;
}

.upper-card-activity {
    display: flex;
    justify-content: space-between;
}

.footer-card-activity {
    display: flex;
    gap: 19%;
}

.avatar-upper-ca {
    display: flex;
    gap: 6px;

}

.name-upper-ca {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-upper-ca > h2 {
    color: var(--light-100, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.name-upper-ca > p {
    color: var(--light-100, #000);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: inline-flex;
    gap: 5px;
    margin-left: 10px;
}

.data-footer-card-activity > p {
    color: var(--Gray-3, #828282);
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.data-footer-card-activity > h3 {
    color: var(--light-100, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
}

.sale-data-upper-ca > p {
    color: #14A760;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.sale-data-upper-ca > h4 {
    color: var(--Light-100, #000);
    text-align: right;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 5px;
}

.sale-upper-ca {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.sale-upper-ca > img {
    width: 12px;
    height: 33px;
}

.sale-data-upper-ca {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.card-activity > span {
    width: 100%;
    height: 1px;
    background: #D2D2D2;
    margin: 18px 0 18px 0;
}

.choose-wallet-page {
    display: flex;
    margin: 0;
    padding: 0;
}

.cw-left {
    background: #F9F9F9;
    width: 54%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cw-left > img {
    position: absolute; 
    top: 45px;
    left: 48px;
}

.cw-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.cw-left > h1 {
    color: #323142;
    font-family: Poppins;
    font-size: 35.25px;
    font-style: normal;
    font-weight: 600;
    margin: 170px auto 100px auto;
}

.cw-metamask,
.cw-trust,
.cw-address,
.cw-next {
    display: flex;
    width: 49%;
    padding: 20px 14px 20px 28px;
    align-items: center;
    gap: 14px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 5px 10px 50px 0px rgba(0, 0, 0, 0.10);
}

.cw-metamask > p,
.cw-trust > p,
.cw-address > p,
.cw-next > p {
    color: var(--Light-100, #000);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.cw-next {
    background: #141416;
    justify-content: center;
    margin: 105px auto 172px auto;
}

.cw-left-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 48px 48px;
}

.cw-left-footer > span {
    color: #AAA;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.cw-right {
    display: flex;
    flex-direction: column;
    gap: 65px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 46%;
}

.cw-right > img {
    box-shadow: -1px 35px 89px 12px rgba(172, 184, 193, 0.52);
    border-radius: 25px;
}

.cw-right-content > h1 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    width: 58%;
    line-height: 56px;
}

.cw-right-content > p {
    color: #6D6D6D;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 58%;
}

.cw-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

